
<body>


    <!-------------------- Scroll-Top Area (Start) -------------------->
    <a href="#home" class="scroll-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-------------------- Scroll-Top Area (End) -------------------->
    <!-------------------- Header Area (Start) -------------------->
    <header class="header">

        <!-- Logo -->
        <a class="logo" href="#home" style="display: flex; align-items: center; text-decoration: none;">
            <img src="~/images/Home/Onze mini.png" alt="About-Image"
                 style="width: 120px; height: 120px; margin-right: 10px;">
            <h2 style="margin: 0; font-size: 24px;"></h2>
        </a>
        <!-- Logo End -->
        <!-- Navbar -->
        <nav class="navbar" style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">
            <span style="display: flex; align-items: center; margin-right: 20px;">
                <i class="fas fa-home fa-lg" aria-hidden="true" style="color: #F08AB7;"></i>
                <a href="#home" style="margin-left: 10px; " >Inicio</a>
            </span>

            <span style="display: flex; align-items: center; margin-right: 20px;">
                <i class="fas fa-info-circle fa-lg" aria-hidden="true" style="color: #F08AB7;"></i>
                <a href="#about" style="margin-left: 10px;">Sobre</a>
            </span>

            <span style="display: flex; align-items: center; margin-right: 20px;">
                <i class="fas fa-gavel fa-lg" aria-hidden="true" style="color: #F08AB7;"></i>
                <a href="#service" style="margin-left: 10px;">Serviço</a>
            </span>

            <span style="display: flex; align-items: center; margin-right: 20px;">
                <i class="fas fa-window-restore fa-lg" aria-hidden="true" style="color: #F08AB7;"></i>
                <a href="#portfolio" style="margin-left: 10px;">Portfólio</a>
            </span>

            <span style="display: flex; align-items: center; margin-right: 20px;">
                <i class="fa fa-users fa-lg" aria-hidden="true" style="color: #F08AB7;"></i>
                <a href="#testimonial" style="margin-left: 10px;">Depoimentos</a>
            </span>

            <span style="display: flex; align-items: center; margin-right: 20px;">
                <i class="fa fa-file fa-lg" aria-hidden="true" style="color: #F08AB7;"></i>
                <a href="#blog" style="margin-left: 10px;">Noticias</a>
            </span>

            <span style="display: flex; align-items: center; margin-right: 20px;">
                <i class="fa fa-phone-square fa-lg" aria-hidden="true" style="color: #F08AB7;"></i>
                <a href="#contact" style="margin-left: 10px;">Contato</a>
            </span>
            <div class="dropdown" style="position: relative; display: inline-block;">
                <span style="display: flex; align-items: center; margin-right: 20px;">
                    <i class="fa fa-user" aria-hidden="true" style="color: #F08AB7;"></i>
                    <a href="/Usuario/Login" style="margin-left: 10px;">Login</a>
                </span>
                <div class="dropdown-content"
                     style="display: none; position: absolute; background-color: #EAE7DC; width: 200px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1; padding: 8px; border-radius: 3%; border: #A65F3C solid 1px; box-shadow: 5px #A65F3C;">
                    <a href="/Usuario/Index"
                       style="padding: 7px; text-decoration: none; display: flex; align-items: center; margin: 5px;">
                        <i class="fa fa-users" aria-hidden="true" style="margin-right: 8px;"></i>
                        Usuarios
                    </a>
                    <a href="/Agendamento/Index"
                       style="padding: 7px; text-decoration: none; display: flex; align-items: center; margin: 5px;">
                        <i class="fa fa-calendar" aria-hidden="true" style="margin-right: 8px;"></i>
                        Agendamento Admin
                    </a>
                    <a href="/Agendamento/AgendamentoUser"
                       style=" padding: 7px; text-decoration: none; display: flex; align-items: center; margin: 5px;">
                        <i class="fa fa-calendar" aria-hidden="true" style="margin-right: 8px;"></i>
                        Agendamento User
                    </a>
                    <a href="/Agendamento/CadastroAgendamento"
                       style=" padding: 7px; text-decoration: none; display: flex; align-items: center; margin: 5px;">
                        <i class="fa fa-file" aria-hidden="true" style="margin-right: 8px;"></i>
                        Cadastro Agendamento
                    </a>
                    <a href="/Servico/Index"
                       style=" padding: 7px; text-decoration: none; display: flex; align-items: center; margin: 5px;">
                        <i class="fas fa-gavel fa-lg" aria-hidden="true" style="margin-right: 8px;"></i></i>
                        Serviço
                    </a>
                    <a href="#logout"
                       style=" padding: 7px; text-decoration: none; display: flex; align-items: center; margin: 5px;">
                        <i class="fa fa-align-justify" aria-hidden="true" style="margin-right: 8px;"></i><b></b>
                        Relatório
                    </a>
                </div>
            </div>
        </nav>


        <!-- Menubar -->
        <div class="fas fa-bars" id="menu-btn"></div>

    </header>
    <!-------------------- Header Area (End) -------------------->
    <!-------------------- Home Area (Start) -------------------->
    <section class="home" id="home">

        <div class="box-container">

            <div class="content">
                <div class="text">
                    <h2>
                        Bem vindo ao </h1>
                        <h1>Onze <span class="typing-text"></span></h1>
                        <p>
                            Comigo você vai embarcar em uma jornada de descobrimento e autoconhecimento. Com a ajuda dos
                            meus oráculos vamos destrinchar
                            todas as áreas da sua vida e te ajudar com questões do consciente e subconsciente, está
                            preparado?
                        </p>
                        <a href="#" class="btn">sobre mim <i class="fas fa-user"></i></a>
                </div>
            </div>

            <div class="image">
                <img src="~/images/Home/Onze.png" alt="Home-Image">
            </div>

        </div>

    </section>

    <!-------------------- Home Area (End) -------------------->
    <!-------------------- About Area (Start) -------------------->
    <section class="about" id="about">

        <div class="box-container">

            <div class="image">
                <img src="~/images/About/Perfil.jpg" alt="About-Image" />
            </div>

            <div class="content">

                <h2>Meu nome é Bianca.</h2>
                <p>
                    Oraculista a 7 anos, utilizo das artes divinatórias para ajudar os consulentes
                    com questões do dia a dia, relacionamentos e vida proficional, tem uma pergunta? Meu Orácuro
                    responde!
                    Após muitos anos de incansável estudo e experiência na cartomancia, disponho de um leque de opções,
                    com diferentes oráculos e tiragens que são escolhidas a dedo para melhor responder as suas questões.
                </p>

                <div class="about-info">

                    <div class="info">
                        <h4>Idade: <span>27</span></h4>
                        <h4>Gênero: <span>Feminino</span></h4>
                        <h4>Idioma: <span>Português, English</span></h4>
                        <h4>Trabalho: <span>Oraculista</span></h4>
                        <h4>Agenda: <span>Aberta</span></h4>
                        <a href="#" class="btn">download CV <i class="fas fa-download"></i></a>
                    </div>

                    <div class="counting">

                        <div class="box">
                            <h1 class="count" data-count="7">7+</h1>
                            <h3>Anos de experiência</h3>
                        </div>

                        <div class="box">
                            <h1 class="count" data-count="300">300+</h1>
                            <h3>Atendimentos feitos</h3>
                        </div>

                        <div class="box">
                            <h1 class="count" data-count="300">300+</h1>
                            <h3>Consulentes satisfeitos</h3>
                        </div>

                        <div class="box">
                            <h1 class="count" data-count="20">20+</h1>
                            <h3>Prêmios ganhos</h3>
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="skill-container">

            <div class="heading">
                <h2>Minhas <span>Abilidades</span></h2>
            </div>

            <div class="skills">
                <div class="skill-item item1">
                    <div class="box">
                        <h3>Tarot<span> 97% </span> </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                    <div class="box">
                        <h3>Woodland Wardens Oracle<span> 95% </span> </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                    <div class="box">
                        <h3>The Rose Oracle<span> 92% </span> </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                </div>

                <div class="skill-item item2">
                    <div class="box">
                        <h3>Oracle of the Radiant Sun<span> 75% </span> </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                    <div class="box">
                        <h3>Sibilla Italiana<span> 65% </span> </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                    <div class="box">
                        <h3>Baralho Cigano Lenormand<span> 60% </span> </h3>
                        <div class="progress-bar"> <span></span> </div>
                    </div>
                </div>

            </div>

        </div>

    </section>
    <!-------------------- About Area (End) -------------------->
    <!-------------------- Qualification Area (Start) -------------------->
    <section class="qualification">

        <div class="heading">
            <h2>Minhas <span>Qualificações</span></h2>
        </div>

        <div class="box-container">

            <div class="education">

                <div class="experience-item">
                    <i class="fas fa-graduation-cap"></i>
                    <div class="content">
                        <span>2015 - 2016</span>
                        <h3>Arcanos Maiores Tarot</h3>
                        <p>
                            Trabalhei por um ano atendendo exclusivamente com os arcanos maiores, experenciei leituras
                            simples
                            porém com um nível de força que apenas os mesmos são capazes de proporcionar, durante esse
                            periodo
                            pude adquirir experiência e intimidade com os 22 arcanos maiores do tarot, o que me trouxe
                            uma maior
                            facilidade e assertividade nas interpretações.
                        </p>
                    </div>
                </div>

                <div class="experience-item">
                    <i class="fas fa-graduation-cap"></i>
                    <div class="content">
                        <span>2016 - 2017</span>
                        <h3>Tarot</h3>
                        <p>
                            Durante este período incorporei os 56 arcanos restantes do Tarot, trazendo dessa forma, para
                            as leituras, uma
                            profundidade e especificidade que apenas os arcanos menores podem proporcionar, pude
                            experenciar leituras
                            extremamente profundas que trouxeram pros consulentes um novo nível de relacionamento
                            com o tarot e seus 78 arcanos.
                        </p>
                    </div>
                </div>

                <div class="experience-item">
                    <i class="fas fa-graduation-cap"></i>
                    <div class="content">
                        <span>2017 - 2018</span>
                        <h3>The Rose Oracle</h3>
                        <p>
                            Este foi o momento em que optei por incluir novos oráculos às minhas leituras. The Rose
                            Oracle
                            foi o primeiro dessa caminhada, um oráculo calmo e reconfortante que traz menságens boas e
                            necessárias
                            trabalhando de forma sutil com o subconsciente do consulente, trazendo à tona questões mal
                            resolvidas
                            e que precisam ser trabalhadas no seu sagrado feminino.
                        </p>
                    </div>
                </div>

            </div>

            <div class="experience">

                <div class="experience-item">
                    <i class="fas fa-briefcase"></i>
                    <div class="content">
                        <span>2018 - 2019</span>
                        <h3>Woodland Wardens Oracle</h3>
                        <p>
                            Senti a necessidade da inclusão de um novo oráculo nas tiragens, durante este período os
                            consulentes passaram
                            a trazer muitas questões divinatórias para a mesa, com ajuda do Woodland Wardens Oracle pude
                            sanar essas questões
                            de forma mais intuitiva e trazer mais detalhes para os aconselhamentos, aumentando dessa
                            forma a satisfação com os
                            resultados nas leituras.
                        </p>
                    </div>
                </div>

                <div class="experience-item">
                    <i class="fas fa-briefcase"></i>
                    <div class="content">
                        <span>2019 - 2020</span>
                        <h3>Oracle of the Radiant Sun</h3>
                        <p>
                            Neste momento as tiragens divinatórias estavam a todo vapor, questões como "O que ele sente
                            por mim?", "Vamos ficar juntos?"
                            "Vou conseguir um emprego?" e "Em que área vou trabalhar?", começaram a surgir com
                            frequência, foi então que decidi trazer
                            o Oracle of the Radiant Sun para a mesa, um oráculo baseado na astrologia que traz uma visão
                            mais ampla da sua linha do tempo,
                            podendo dessa forma sanar questões que estão completamente ligadas com os astros e a
                            influência que eles exercem em nossas vidas.
                        </p>
                    </div>
                </div>

                <div class="experience-item">
                    <i class="fas fa-briefcase"></i>
                    <div class="content">
                        <span>2020 - 2021</span>
                        <h3>Sibilla Italiana</h3>
                        <p>
                            Aqui surgiu o oráculo que até hoje é obrigatório em minhas leituras, uma vez que um
                            consulente entra em contato com este oráculo
                            é impossível não querer voltar regurlamente para uma nova tiragem. A Sibilla Italiana é o
                            oráculo mais fofoqueiro na minha coleção,
                            atravez dele já foram descobertas muitas traições, roubos e até mesmo o paradeiro de objetos
                            perdidos. O momento de puxar as Sibillas
                            para a mesa é sem dúvidas o momento mais aguardado da leitura.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <!-------------------- Qualification Area (End) -------------------->
    <!-------------------- Services Area (Start) -------------------->
    <section class="service" id="service">

        <div class="heading">
            <h2>Meus <span>Serviços</span></h2>
        </div>

        <div class="box-container">

            <div class="service-item">
                <i class="fa fa-heart" aria-hidden="true"></i>
                <h3>Templo de Afrodite</h3>
                <p>
                    Leitura amorosa: esta mesa é ideal para o consulente que já tem um pareciro em mente,
                    nela vamos observar os sentimentos dos dois e as perspectivas futuras
                    para o relacionamento.
                </p>
            </div>

            <div class="service-item">
                <i class="fa fa-crosshairs" aria-hidden="true"></i>
                <h3>Detector de Mentiras</h3>
                <p>
                    Leitura divinatória: nossa intuição é o nosso maior guia, já teve a sensação de que estavam
                    mentido para você? Com esta tiragem vamos detectar qual mentira está
                    cruzando o caminho do consulente.
                </p>
            </div>

            <div class="service-item">
                <i class="fa fa-briefcase" aria-hidden="true"></i>
                <h3>Caminhos Profissionais</h3>
                <p>
                    Leitura profissional: nesta leitura o consulente terá um panorama das opções em sua vida
                    profissional, além de sanar questões relacionadas a objetivos,
                    mudança de carreira e situação financeira.
                </p>
            </div>

            <div class="service-item">
                <i class="fa fa-question" aria-hidden="true"></i>
                <h3>Esta pessoa é confiável?</h3>
                <p>
                    Leitura de relacionamento: está em dúvida se pode confiar em alguém? Esta leitura traz a
                    tona o porque desta pessoa estar estrando no seu caminho, quais as
                    intenções dela, se é confiável, etc.
                </p>
            </div>

            <div class="service-item">
                <i class="fa fa-users" aria-hidden="true"></i>
                <h3>Vidas Passadas</h3>
                <p>
                    Leitura divinatória: com esta leitura você terá uma ideia de situações importantes e
                    marcantes da sua vida passada que estão impactando na sua vida atual,
                    e receberá um aconselhamento dos Oráculos.
                </p>
            </div>

            <div class="service-item">
                <i class="fa fa-eye" aria-hidden="true"></i>
                <h3>Tiragem Geral</h3>
                <p>
                    Se as suas questões não se encaixam em nenhuma das leituras disponíveis então esta é a leitura pra
                    você!
                    Nela você vai poder ver um pouquinho de cada área da sua vida (amorosa, profissional e espiritual) e
                    terá um aprofundamento em 3 questões da sua escolha.
                </p>
            </div>

        </div>

    </section>
    <!-------------------- Services Area (End) -------------------->
    <!-------------------- Portfolio Area (Start) -------------------->
    <section class="portfolio" id="portfolio">

        <div class="heading">
            <h2>Meu <span>Portfólio</span></h2>
        </div>

        <div class="gallery">

            <ul class="controls">
                <li class="button btn active" data-filter="all">todos</li>
                <li class="button btn" data-filter="web">Leituras de Tarot</li>
                <li class="button btn" data-filter="design">Leituras de Sibilla Italliana</li>
                <li class="button btn" data-filter="photography">Outros Oráculos</li>
            </ul>

            <div class="box-container">

                <div class="portfolio-item image web">
                    <img src="~/images/Portfolio/portfolio-1.jpg" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Leitura profissional </h4>
                        <p>Tarot</p>
                        <a data-effect="mfp-newspaper" href="~/images/Portfolio/portfolio-1.jpg"
                           class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>

                <div class="portfolio-item image web">
                    <img src="~/images/Portfolio/portfolio-2.jpg" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Leitura Vidas Passadas</h4>
                        <p>outros oráculos</p>
                        <a data-effect="mfp-newspaper" href="~/images/Portfolio/portfolio-2.jpg"
                           class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>

                <div class="portfolio-item image design">
                    <img src="~/images/Portfolio/portfolio-3.jpg" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Leitura Amorosa</h4>
                        <p>Tarot</p>
                        <a data-effect="mfp-newspaper" href="~/images/Portfolio/portfolio-3.jpg"
                           class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>

                <div class="portfolio-item image design">
                    <img src="~/images/Portfolio/portfolio-4.jpg" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Leitura de caminhos</h4>
                        <p>Tarot</p>
                        <a data-effect="mfp-newspaper" href="~/images/Portfolio/portfolio-4.jpg"
                           class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>
                <div class="portfolio-item image photography">
                    <img src="~/images/Portfolio/portfolio-5.jpg" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Detector de mentiras</h4>
                        <p>Sibilla Italliana</p>
                        <a data-effect="mfp-newspaper" href="~/images/Portfolio/portfolio-5.jpg"
                           class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>

                <div class="portfolio-item image photography">
                    <img src="~/images/Portfolio/portfolio-6.jpg" alt="Portfolio-Image" />
                    <div class="content">
                        <h4>Leitura de energias</h4>
                        <p>Outros oráculos </p>
                        <a data-effect="mfp-newspaper" href="~/images/Portfolio/portfolio-6.jpg"
                           class="view-btn"><i class="fas fa-search-plus"></i></a>
                    </div>
                </div>

            </div>

        </div>

    </section>
    <!-------------------- Portfolio Area (End) -------------------->
    <!-------------------- Testimonials Area (Start) -------------------->
    <section class="testimonial" id="testimonial">

        <div class="heading">
            <h2><span>testimonials</span></h2>
        </div>

        <div class="swiper-container testimonial-slider">
            <div class="swiper-wrapper">

                <div class="swiper-slide testi-item">
                    <img src="~/images/Testimonials/pic-1.jpg" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        Agradeço pela interpretação profunda e sensível das cartas, que revelaram insights
                        impactantes sobre minha vida. Sua habilidade em comunicar as mensagens de forma
                        clara e empática criou um ambiente acolhedor e profissional. As orientações práticas
                        oferecidas foram especialmente úteis, e estou grato pela experiência
                        esclarecedora que me ajudará no meu caminho pessoal.
                    </p>

                    <div class="intro">
                        <h3>Ana Carolina</h3>
                        <h5>professora</h5>
                    </div>
                </div>

                <div class="swiper-slide testi-item">
                    <img src="~/images/Testimonials/pic-2.jpg" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        Fiquei impressionado com a precisão e a conexão emocional que você trouxe durante
                        a leitura. Suas interpretações foram profundas e esclarecedoras, proporcionando
                        insights valiosos sobre minha situação atual. O ambiente foi muito acolhedor e
                        profissional, o que contribuiu para uma experiência verdadeiramente transformadora.
                        Recomendaria sua leitura a qualquer pessoa em busca de orientação espiritual e clareza.
                    </p>

                    <div class="intro">
                        <h3>Lucas Ferreira</h3>
                        <h5>Advogado</h5>
                    </div>
                </div>

                <div class="swiper-slide testi-item">
                    <img src="~/images/Testimonials/pic-3.jpg" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        Agradeço pela leitura envolvente e detalhada que você proporcionou. Suas
                        interpretações das cartas foram não apenas precisas, mas também inspiradoras.
                        Sentia-me completamente à vontade durante toda a sessão, graças à sua abordagem
                        empática e cuidadosa. As mensagens que recebi já estão me ajudando
                        a tomar decisões mais conscientes. Certamente voltarei para mais consultas no futuro.
                    </p>

                    <div class="intro">
                        <h3>Isabela Costa</h3>
                        <h5>Empresária</h5>
                    </div>
                </div>

                <div class="swiper-slide testi-item">
                    <img src="~/images/Testimonials/pic-4.jpg" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        Quero expressar minha gratidão pela leitura profunda e perspicaz que você realizou.
                        Suas habilidades interpretativas foram impressionantes, e cada carta revelou aspectos
                        significativos da minha jornada pessoal. O ambiente foi acolhedor e tranquilo,
                        permitindo uma conexão genuína com as mensagens do tarot. As orientações práticas
                        que você ofereceu foram muito úteis e já estou vendo mudanças
                        positivas em minha vida. Obrigado por uma experiência que superou minhas expectativas.
                    </p>

                    <div class="intro">
                        <h3>Marina Santos</h3>
                        <h5>Cozinheira</h5>
                    </div>
                </div>

                <div class="swiper-slide testi-item">
                    <img src="~/images/Testimonials/pic-5.jpg" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">
                        Fiquei profundamente tocado pela precisão e pela profundidade das suas interpretações.
                        Cada carta parecia ressoar com aspectos importantes da minha vida, proporcionando
                        insights claros e orientações valiosas. Sua habilidade em criar um ambiente acolhedor
                        e de confiança contribuiu para uma experiência enriquecedora e espiritualmente
                        significativa. Estou muito grato pelo seu trabalho e pela clareza que trouxe ao meu caminho.

                    </p>

                    <div class="intro">
                        <h3>Rafael Oliveira</h3>
                        <h5>Designer</h5>
                    </div>
                </div>

                <div class="swiper-slide testi-item">
                    <img src="~/images/Testimonials/pic-6.png" alt="Testimonial-Pic" />

                    <i class="fas fa-quote-left"></i>

                    <p class="comment">

                        A leitura com a Sibilla Italiana foi extremamente reveladora e precisa. A interpretação das cartas trouxe orientações valiosas e relevantes
                        para minha vida,com uma abordagem sensível e clara. Senti-me à vontade para explorar questões profundas e a comunicação foi excelente.
                        Recomendo para quem busca insights profundos e orientações práticas.

                    </p>

                    <div class="intro">
                        <h3>Aline Camargo</h3>
                        <h5>Secretária</h5>
                    </div>
                </div>

            </div>

            <div class="swiper-pagination swiper-pagination1"></div>

        </div>
    </section>
    <!-------------------- Testimonials Area (End) -------------------->
    <!-------------------- Blog Area (Start) -------------------->
    <section class="blog" id="blog">

        <div class="heading">
            <h2>Notícias <span>Sobre</span></h2>
        </div>

        <div class="swiper-container blog-slider">
            <div class="swiper-wrapper">

                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/Blogs/print 1.png" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>15/05/2023 06h44</span></h5>
                            <h5><i class="fas fa-user"></i><span>Por Pâmela Ramos, g1 Sorocaba e Jundiaí</span></h5>
                        </div>
                        <a class="main-heading" href="#">Tudo o que você precisa saber sobre o Tarot</a>
                        <p>
                            Por que o Tarot funciona? Qual a origem? Posso confiar num jogo? Confira as respostas neste
                            artigo!
                        </p>
                        <a href="https://www.personare.com.br/conteudo/tudo-sobre-tarot-m17161" class="btn">
                            Saiba mais<i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>

                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/Blogs/print 2.jpg" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>31/10/2023 - 10h27min</span></h5>
                            <h5><i class="fas fa-user"></i><span>CAMILA BENGO</span></h5>
                        </div>
                        <a class="main-heading" href="#">Quantas cartas de Tarot existem?</a>
                        <p>
                            Descubra quantas cartas de Tarot existem e entenda a relevância dos dois grupos de arcanos
                            existentes no baralho
                        </p>
                        <a href="https://www.terra.com.br/vida-e-estilo/horoscopo/quantas-cartas-de-tarot-existem,3e38cbfdda0bdf66abeb60aa92564770hlvbggvx.html"
                           class="btn">Saiba mais <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/Blogs/print 3.jpg" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>20 de abril de 2017</span></h5>
                            <h5><i class="fas fa-user"></i><span>Assessoria de Comunicação</span></h5>
                        </div>
                        <a class="main-heading" href="#">
                            Cartas de tarot: o que é e porque estamos obcecadas pelo
                            assunto
                        </a>
                        <p>
                            Para entender melhor sobre o assunto, conversamos com duas experts no assunto, começando com
                            a Lívia Cadete, a nossa assistente de audiovisual, que aprendeu
                            a tirar tarô com sua mãe, que foi ensinada pela sua avó.
                            Foi a partir disso que ela aprendeu a gostar e começou a ler sobre. Lívia nos explicou o que
                            é tarô, como ele funciona e você pode aprender, vem ver:
                        </p>
                        <a href="https://stealthelook.com.br/cartas-de-tarot-o-que-e-e-porque-estamos-obcecadas-pelo-assunto/"
                           class="btn">Saiba mais <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/Blogs/print 4.jpg" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>04/10/2019 12:27 </span></h5>
                            <h5><i class="fas fa-user"></i><span>Por iG Delas</span></h5>
                        </div>
                        <a class="main-heading" href="#">Tudo sobre Tarot</a>
                        <p>
                            Saiba tudo sobre os 78 arcanos e a inflência deles no seu dia a dia.

                        </p>
                        <a href="https://claudia.abril.com.br/tudo-sobre/tarot" class="btn">
                            Saiba mais <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>

                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/Blogs/print 5.jpg" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>13 jan 2024 - 13h00</span></h5>
                            <h5><i class="fas fa-user"></i><span>Por:Raquel Barreto</span></h5>
                        </div>
                        <a class="main-heading" href="#">
                            A história do tarot: tudo sobre a origem das cartas que revelam
                            o futuro
                        </a>
                        <p>
                            Apenas uma brincadeira de adivinhação ou instrumento de autoconhecimento? Mais do que prever
                            o que está por vir,
                            o tarot é uma ferramenta de desenvolvimento pessoal e
                            sua história vai bem além de um simples jogo de cartas
                        </p>
                        <a href="https://revistamarieclaire.globo.com/Canal-da-Bruxa/noticia/2019/08/historia-do-tarot-tudo-sobre-origem-das-cartas-que-revelam-o-futuro.html"
                           class="btn">Saiba mais <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="swiper-slide blog-item">
                    <div class="image">
                        <img src="~/images/Blogs/print 6.jpg" alt="Blog-Image" />
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h5><i class="fas fa-calendar-alt"></i><span>23/10/2022 14:00</span></h5>
                            <h5><i class="fas fa-user"></i><span>Por:Priscila Honorato</span></h5>
                        </div>
                        <a class="main-heading" href="">Baralhos de Tarot e Adivinhação</a>
                        <p>
                            O Tarot é um baralho de 78 cartas, que servem para adivinhação e a meditação, ou para a
                            prática da magia ritual, e é também um poderoso agente de psicoterapia
                            através de análises e conselhos psicológicos.
                        </p>
                        <a href="https://tendadaalma.pt/categoria-produto/baralhos-de-tarot-e-adivinhacao/"
                           class="btn">Saiba mais <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="swiper-pagination swiper-pagination2"></div>

        </div>

    </section>
    <!-------------------- Blog Area (End) -------------------->
    <!-------------------- Contact Area (Start) -------------------->
    <section class="contact" id="contact">

        <div class="heading">
            <h2><span>contact</span> me</h2>
        </div>

        <div class="box-container">

            <div class="contact-info">

                <h3>entre em contato</h3>

                <p>Atendimentos feitos em horário comercial</p>

                <div class="info-item">
                    <h4>telefone:</h4>
                    <div class="detail">
                        <div class="fas fa-phone"></div>
                        <p>+123-456-789</p>
                    </div>
                    <div class="detail">
                        <div class="fas fa-phone"></div>
                        <p>+111-222-333</p>
                    </div>
                </div>

                <div class="info-item">
                    <h4>email:</h4>
                    <div class="detail">
                        <div class="fas fa-envelope"></div>
                        <p class="gmail">abc@gmail.com</p>
                    </div>
                    <div class="detail">
                        <div class="fas fa-envelope"></div>
                        <p class="gmail">xyz@gmail.com</p>
                    </div>
                </div>

                <div class="info-item">
                    <h4>linkedin:</h4>
                    <div class="detail">
                        <div class="fab fa-linkedin"></div>
                        <p class="linkedin">https://www.linkedin.com/</p>
                    </div>
                </div>

                <div class="info-item">
                    <h4>github:</h4>
                    <div class="detail">
                        <div class="fab fa-github"></div>
                        <p class="github">https://github.com/</p>
                    </div>
                </div>
            </div>

            <form method="post" class="contact-form" id="contactUs-Form">

                <input type="text" name="name" class="box" id="name" placeholder="name" required />
                <input type="email" name="email" class="box" id="email" placeholder="email" required />
                <input type="text" name="subject" class="box" id="subject" placeholder="subject" required />
                <textarea cols="30" rows="10" name="comment" id="comment" class="box" placeholder="message"></textarea>
                <button type="submit" class="btn" name="submit" id="submit">send message</button>

                <span class="alert" id="msg"></span>

            </form>

        </div>

    </section>
    <!-------------------- Contact Area (End) -------------------->
    
    <!-- JQuery -->
    <script src="~/vendors/jquery/jquery-3.6.0.js"></script>
    <!-- Typed JS -->
    <script src="~/vendors/typed/typed.js"></script>
    <!---------------- Custom Script ---------------->
    <!-- Typed Script -->
    <script>
        var typed = new Typed('.typing-text', {

            strings: ['Tarot', 'Oráculos', 'Tarot', 'Oráculos'],
            typeSpeed: 120,
            loop: true
        });
    </script>

    <!-- Contact-Form Script -->
    <script>
        jQuery('#contactUs-Form').on('submit', function (e) {
            jQuery('#msg').html('');
            jQuery('#submit').html('Please wait');
            jQuery('#submit').attr('disabled', true);
            jQuery.ajax({
                url: '~/php/submit.php',
                type: 'post',
                data: jQuery('#contactUs-Form').serialize(),
                success: function (result) {
                    jQuery('#msg').html(result);
                    jQuery('#submit').html('Submit');
                    jQuery('#submit').attr('disabled', false);
                    jQuery('#contactUs-Form')[0].reset();
                }
            });
            e.preventDefault();
        });
    </script>
    <script>
        // Script to handle the dropdown functionality
        document.querySelector('.dropdown').addEventListener('mouseover', function () {
            this.querySelector('.dropdown-content').style.display = 'block';
        });

        document.querySelector('.dropdown').addEventListener('mouseout', function () {
            this.querySelector('.dropdown-content').style.display = 'none';
        });
    </script>
</body>

